.tw-card {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
}

.tw-card-header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-card-header-info {
    display: flex;
    flex-direction: column;
}

.tw-card-infoUserName {
    opacity: .5;
}

.tw-card-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.tw-card-button {
    cursor: pointer;
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.tw-card-button.is-following {
    border: 2px solid #23a7ff;
}

.tw-card-button:hover {
    background-color: #4daff0;
}