.page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.movies-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
}

.movie-title {
    text-align: center;
}

.movies-list img {
    border-radius: 10px;
}

.no-results {
    text-align: center;
}

.no-results img {
    border-radius: 10px;
    max-width: 300px;
    
}